.Login {
  position: absolute;
  top: 1em;
  right: 0px;
  background-color: white;
  outline: 1px solid black;
}

.Login form {
  display: block;
}

.Login input {
  display: block;
  width: 150px;
}

.Login label {
  display: block;
}