.TicketListItem {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
}

.TicketListItem button {
  width: 100%;
  background-color: white;
  border: none;
}

.TicketListItem span {
  background-color: hsl(170, 41%, 24%);
  border-radius: 5px;
  font-size: 12px;
  padding: 2px;
  color: white;
  float: right;
}
