.new-ticket-howto {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

.new-ticket-howto strong {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.new-ticket-howto li {
  color: #3F6170;
  font-size: 14px;
}

