.NewTicket {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding: 10px 0px 20px 10px;
  vertical-align: top;
}

.NewTicket form {
  flex-basis: 50%;
  flex-grow: 1;
  /*width: 50%;*/
  /*display: inline-block;*/
  padding-right: 20px;
}

.NewTicket [type="number"] {
  width: 50px;
  height: 1em;
}

.NewTicket button {
  margin-top: 20px;
  display: block;
  position: relative;
  right: 0;
}
