.HorizontalTab {
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 2em;
  background-color: white;
}

.HorizontalTab button {
  padding: 10px;
  width: 90px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: hsl(147, 24%, 41%);
  font-weight: 500;
  font-size: 12px;
}

.HorizontalTab button:focus {
  outline: none;
}
.HorizontalTab button:hover {
  cursor: pointer;
}

.HorizontalTab:nth-child(1) {
  border-right: 1px solid rgba(0, 0, 0, .1);
  border-top-left-radius: 6px;
}

.HorizontalTab:nth-child(2) {
  border-top-right-radius: 6px;
}
