.Search {
  padding: 10px 0px 20px 10px;
  background-color: slateblue;
}

.Search ul {
  list-style: none;
}

.Search li {
  display: inline-block;
  padding-right: 10px;
}

.Search input {
  width: 100px;
}
