.TicketListItem {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5px;
}

.TicketListItem button {
  width: 100%;
  background-color: white;
  border: none;
  text-align: left;
  text-decoration: underline;
}

.TicketListItem span {
  border-radius: 5px;
  font-size: 12px;
  padding: 2px;
  float: right;
}

.TicketListItem .priority1,
.TicketListItem .priority2,
.TicketListItem .priority3,
.TicketListItem .priority4,
.TicketListItem .priority5,
.TicketListItem .priority6 {
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 5px 8px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
  letter-spacing: .5px;
}

/* .TicketListItem .priority-1. */
.TicketListItem .priority1 {
  background-color: #B04949;
}

.TicketListItem .priority2 {
  background-color: #D08134;
}

.TicketListItem .priority3 {
  background-color: #CAC042;
}

.TicketListItem .priority4 {
  background-color: #719C3F;
}

.TicketListItem .priority5 {
  background-color: #6395D0;
}
