.Sidebar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 9.75%;
  outline: 1px solid black;
}

.logo {
  padding-top: 25px;
  margin: 0 auto;
  width: 64px;
  height: 64px;
}

.Sidebar ul {
  list-style: none;
  text-align: left;
}

.Sidebar li {
  padding-top: 50px;
}
