.Ticket {
  padding: 5px;
}

.Ticket ul {
  list-style: none;
}

.Ticket ul li {
  position: relative;
  left: 10px;
  font-size: 14px;
  margin-bottom: 4px;
}

.Ticket ul li::before {
  content:"\f0fe";
  color: #356c5d;
  position: relative;
  font-family: FontAwesome;
  font-size: 12px;
  left: -6px;
  top: 0;
}

.Ticket ul li p {
  padding: 10px 0;
}
