.Search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding: 10px 0px 20px 10px;
  vertical-align: top;
}

.Search form {
  flex-basis: 50%;
  flex-grow: 1;
}

.Search form ul {
  list-style: none;
}

.Search form li {
  display: inline-block;
  padding-right: 10px;
}

.Search form label {
  margin: 0 10px;
}

.Search form input {
  width: 100px;
  display: inline-block;
}

.Search form button {
  display: block;
  margin: 0 10px;
}
