.Login {
  margin-top: 20px;
  width: 450px;
  height: 500px;
  background-color: white;
  border-radius: 6px;
  padding: 50px 50px;
  text-align: center;
  box-shadow:  1px 1px 3px rgba(0,0,0,0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa {
  display: inline-block;
}

input {
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
  transition: all .5s ease-out;
}

input::placeholder {
  color: #ccc;
}

input:focus {
  outline: none;
  border-bottom-color: rgba(30,138,190,1.00);
}

i {
  padding: 5px;
  color: rgba(30,138,190,1);
}

.btn {
  border: 1px solid white;
  padding: 12px 14px;
  border-radius: 6px;
  letter-spacing: .5px;
  background-color: white;
  margin-top: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  font-family: 'Work Sans', sans-serif;
}

.btn-outline {
  background-color: transparent;
  color: white;
}

.btn-colorize {
  background-image: linear-gradient(145deg, rgba(111,210,149,1.00) 0%, rgba(30,138,190,1.00) 100%);
  color: white;
}

.btn-colorize-blue {
  background-color: #359eb2;
  color: white;

}

.btn-outline-colorize {
  border-color: inherit;
  color: rgba(30,138,190,1.00);
  transition: all .25s ease-out;
}
.btn-outline-colorize:hover {
  border-color: inherit;
  color: white;
  background-color: rgba(30,138,190,1.00);
}

.Login .error {
  color: red;
}
