.Logout {
  float: right;
  margin-top: 1.5em;
  margin-right: 15px;
  width: 90px;
}

.Logout .btn {
  border: 1px solid white;
  width: 150px;
  height: 35px;
  padding-top: 3px;
  border-radius: 6px;
  letter-spacing: .5px;
  background-color: white;
  margin-top: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  font-family: 'Work Sans', sans-serif;
}

.Logout .btn-outline-colorize {
  border-color: inherit;
  color: rgba(30,138,190,1.00);
  transition: all .25s ease-out;
}

.Logout .btn-outline-colorize:hover {
  border-color: inherit;
  color: white;
  background-color: rgba(30,138,190,1.00);
}