.Form {
  padding: 10px 0px 20px 10px;
  background-color: slategrey;
}

.Form label {
  padding-top: 5px;
}

.Form input, .Form select, .Form textarea {
  display: block;
  margin: 5px 0;
}

.close-button {
  text-align: center;
}

#new-ticket-title, #new-ticket-desc {
  width: 50%;
}
